/* This css is far from dynamic and it's just a bunch of fixed values, in other words, it's bad */

html {
  background-color: #232323;
  color: white;
  font-family: 'Montserrat', serif;
}

#form {
  display: inline-block;
  float: left;
  position: relative;
}

#table {
  margin: 50px 0 0 50px;
  float: left;
  display: inline-block;
}

#leaveRoom {
  margin: 10px 0 0 50px;
  top: 360px;
  position: absolute;
  display: block;
  vertical-align: bottom;
}

td {
  height: 30px;
  width: 150px;
  border: 1px solid black;
  color: black;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 26px;
  pointer-events: all;
}

.container {
  margin: 50px 50px;
  height: 294px;
  width: 294px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: flex-start;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  float: left;
}

.container .symbol {
  margin: 20px 10px;
  flex: 0 0 auto;
  height: 115px;
  width: 115px;
  border: 1px solid white;
  border-radius: 10px;
}

.symbol > .cross {
  margin-top: 57px;
  transform: rotateZ(45deg);
}

.cross + .cross2 {
  margin-top: -10px;
  transform: rotateZ(-45deg);
}

.symbol > .circle {
  margin-top: 14%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 2px;
}

.textInput {
  height: 26px;
  width: 75%;
  margin: 20px 20px;
  font-size: 15px;
  font-family: 'Montserrat', serif;
}

.textInput::selection {
  outline-color: white;
}

.numberInput {
  width: 90px;
  font-size: 15px;
  font-family: 'Montserrat', serif;
}

.button {
  height: 28px;
  width: 100px;
  margin-left: 30px;
  background-color: white;
  border-radius: 4px;
  font-family: 'Montserrat', serif;
}

.circleHover:hover {
  background-color: #aaa;
}

.crossHover:hover {
  background-color: #aaa;
}

input[type=radio] {
  position: fixed;
  opacity: 0;
}

.radio {
  margin: 100px 62px;
}
